@mixin media-sm {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin flex($display, $direction, $justify, $gap) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  gap: $gap;
}
